
@{
    Layout = null;
}
<a href="~/Controllers/InsurancesController.cs"></a>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="Insurance.js"></script>
</head>
<body>
    <label>Enter Insurance ID</label>
    <input type="text" name="InsuranceID" id="InsuranceID"  required>

    <button type="submit" value="submit" onclick="return GetInsurance();" tabindex="12">Submit</button>
</body>
</html>
