
@{
    ViewData["Title"] = "MainPage";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main PAge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>
    <div class="buttons">
        <button type="submit" >MBR</button>
        <button type="submit" >Employer</button>
        <button type="submit" >Insurance</button>
    </div>
</body>
</html>

